html,
body,
header,
main,
h1,
h2,
h3,
ul,
li,
p,
input,
button,
textarea,
picture,
img {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:visited {
  text-decoration: none;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out; }
  a:hover,
  a:visited:hover {
    text-shadow: 0 0 1em #0075ff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.section {
  padding-top: 150px; }
  @media screen and (max-width: 768px) {
    .section {
      padding-top: 64px; } }

.nav {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav__list {
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__item {
    padding: 8px 0;
    border-radius: 8px;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out; }
    .nav__item:hover {
      color: #9fadc2; }
    .nav__item--active {
      background-color: rgba(255, 255, 255, 0.1); }
  .nav__link {
    padding: 8px clamp(10px, 2vw, 24px);
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
  .nav__checkbox, .nav__burger {
    display: none; }
  @media screen and (max-width: 1024px) {
    .nav__item {
      padding: 8px clamp(9px, 1%, 24px); } }
  @media (max-width: 768px) {
    .nav__item {
      padding: 16px 20px; }
    .nav__list {
      font-size: 22px;
      line-height: 1;
      text-transform: uppercase;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #0075ff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 101vw;
      -webkit-transition: left 0.5s ease-in-out;
      transition: left 0.5s ease-in-out; }
    .nav__burger {
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 70px;
      height: 50px;
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1; }
    .nav__burger-line {
      width: 18px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      right: 24px;
      -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
      .nav__burger-line:first-child {
        top: 20px; }
      .nav__burger-line:nth-child(2), .nav__burger-line:nth-child(3) {
        top: 25px; }
      .nav__burger-line:last-child {
        top: 30px; }
    .nav__checkbox:checked ~ .nav__burger > .nav__burger-line {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:first-child, .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:last-child {
        opacity: 0; }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:nth-child(2) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .nav__checkbox:checked ~ .nav > .nav__list {
      left: 0; }
    .nav__checkbox:checked ~ .promo__top > .promo__phone,
    .nav__checkbox:checked ~ .promo__top > .promo__action {
      left: 20px; } }

.logo__img {
  width: 115px;
  height: 76px; }

@media screen and (max-width: 768px) {
  .logo {
    z-index: 1; }
    .logo__img {
      width: 73px;
      height: 48px; } }

.article {
  padding-bottom: 32px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .article__text-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #0075ff;
    padding-bottom: 16px; }

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: block;
  width: 188px;
  height: 56px;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #0075ff;
  background-color: #0075ff;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .button:hover {
    background: #0067df;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .button:active {
    -webkit-box-shadow: 0 0 5px rgba(0, 84, 181, 0.85);
            box-shadow: 0 0 5px rgba(0, 84, 181, 0.85); }

.title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .title:after {
    content: "";
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat;
    height: 15px;
    width: 20px;
    position: absolute;
    top: 100%; }
  @media screen and (max-width: 768px) {
    .title {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 53px; } }

.input, .textarea {
  font-size: inherit;
  display: block;
  width: 100%;
  height: 3em;
  margin-bottom: 1em;
  padding-left: 17px;
  border: none;
  border-radius: 8px;
  background-color: #f7f8ff; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #b9c1ce;
    line-height: 1; }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    font-size: 14px;
    color: #b9c1ce;
    line-height: 1; }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #b9c1ce;
    line-height: 1; }
  .input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
    font-size: 14px;
    color: #b9c1ce;
    line-height: 1; }
  .input::placeholder, .textarea::placeholder {
    font-size: 14px;
    color: #b9c1ce;
    line-height: 1; }

.promo {
  color: #fff;
  height: 700px;
  position: relative;
  padding: 20px clamp(60px, 10%, 120px) 40px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../images/header-1.5k.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out; }
  .promo__top {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__phone {
    color: inherit;
    display: block;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out; }
    .promo__phone--icon {
      width: 18px;
      height: 18px;
      display: none;
      background-image: url(../images/phone.svg); }
  .promo__action {
    position: relative;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out; }
    .promo__action::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 24px; }
  .promo__tel {
    color: #fff; }
  .promo__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    width: 400px;
    position: absolute;
    bottom: 160px;
    -webkit-transition: bottom 0.5s ease-in-out, font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out, font-size 0.5s ease-in-out, line-height 0.5s ease-in-out; }
    .promo__title::after {
      content: "";
      display: block;
      width: 35px;
      height: 2px;
      position: absolute;
      top: -18px;
      background-color: #fff; }
  @media screen and (min-width: 1680px) {
    .promo {
      padding: 20px calc((100vw - 1440px) / 2) 40px; } }
  @media screen and (max-width: 1024px) {
    .promo {
      padding: 20px clamp(30px, 5%, 80px) 40px; } }
  @media screen and (max-width: 768px) {
    .promo {
      padding: 20px;
      height: 100vh; }
      .promo__phone {
        z-index: 1;
        position: absolute;
        bottom: 92px;
        left: 101vw; }
        .promo__phone--icon {
          position: absolute;
          top: 39px;
          left: 23px;
          display: block; }
      .promo__action {
        z-index: 1;
        position: absolute;
        left: 101vw;
        bottom: 60px; }
      .promo__title {
        font-size: 46px;
        line-height: 40px;
        bottom: 80px; }
      .promo__top {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about__title {
    display: block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .about__title::after {
      display: none; }
  .about__link {
    color: #0075ff; }
    .about__link:visited {
      color: #0075ff; }
  @media screen and (max-width: 900px) {
    .about__link {
      display: block; } }
  @media screen and (max-width: 768px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left; }
      .about__link {
        display: inline; } }

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px; }

.gallery__pic {
  width: calc(50% - 5px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
  .gallery__pic:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }

.gallery__item--left-wide .gallery__pic:first-child,
.gallery__item--right-wide .gallery__pic:last-child {
  width: calc(67% - 5px); }

.gallery__item--left-wide .gallery__pic:last-child,
.gallery__item--right-wide .gallery__pic:first-child {
  width: calc(33% - 5px); }

.gallery__img {
  display: block;
  width: 100%;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .gallery__img:active {
    -webkit-box-shadow: 0 0 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 0 27px rgba(0, 83, 181, 0.46); }

.gallery__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
  display: block;
  color: inherit; }

.gallery__place-name {
  color: #0075ff;
  font-weight: 700;
  background-color: inherit; }

.gallery__button {
  color: #0075ff;
  border: 2px solid #0075ff;
  background-color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .gallery__button:hover {
    color: #fff;
    background-color: #8ab8ee; }

@media screen and (max-width: 768px) {
  .gallery__item {
    margin-bottom: 16px; }
  .gallery__img {
    height: 153px; }
  .gallery__item--left-wide .gallery__pic:first-child,
  .gallery__item--right-wide .gallery__pic:last-child,
  .gallery__item--left-wide .gallery__pic:last-child,
  .gallery__item--right-wide .gallery__pic:first-child {
    width: calc(50% - 5px); }
  .gallery__link {
    margin-bottom: 32px; }
  .gallery__button {
    width: 100%; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__article {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .consultation__form {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .consultation__button {
    width: 100%; }
  @media screen and (max-width: 600px) {
    .consultation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .consultation__input--last {
        margin-bottom: 32px; } }

.testimonials {
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .testimonials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.employee {
  width: 19vw;
  min-width: 200px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .employee__photo {
    width: 153px;
    height: 153px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 50%; }
  .employee__name {
    color: #0075ff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 28px; }
  .employee__position {
    color: #9fadc2;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px; }
  .employee__description {
    text-align: center; }
  @media screen and (max-width: 768px) {
    .employee {
      width: 100%;
      margin-bottom: 48px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contacts__contacts, .contacts__form {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%; }
  .contacts__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__info {
    width: 40%;
    padding-bottom: 20px; }
  .contacts__label {
    color: #9fadc2; }
  .contacts__link {
    color: #000; }
  .contacts__button {
    width: 100%;
    margin-bottom: 88px; }
  @media screen and (max-width: 1024px) {
    .contacts__form {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
    .contacts__contacts {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .contacts__info {
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .contacts__form {
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; }
    .contacts__contacts {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contacts__info {
      width: 75%; } }
  @media screen and (max-width: 500px) {
    .contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .contacts__contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
      .contacts__form, .contacts__info {
        width: 100%; }
      .contacts__link {
        display: block;
        margin-bottom: 24px; } }

.textarea {
  height: auto;
  margin-bottom: 2em;
  content: "";
  resize: none;
  padding-top: 1em; }

.footer {
  position: relative; }
  .footer__image, .footer__picture {
    display: block;
    width: 100%;
    height: 360px; }
  .footer__image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .footer__logo-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth; }

body {
  background: #f2f2f2; }

.main {
  padding: 0 clamp(60px, 10%, 120px);
  -webkit-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out; }
  @media screen and (min-width: 1680px) {
    .main {
      padding: 0 calc((100vw - 1440px) / 2); } }
  @media screen and (max-width: 1024px) {
    .main {
      padding: 0 clamp(30px, 5%, 80px); } }
  @media screen and (max-width: 768px) {
    .main {
      padding: 0 20px; } }

/*# sourceMappingURL=main.css.map */
